@page "/customer"
@page "/customer/{id:int}"
@using Mc2.CrudTest.Presentation.Shared;
@inject ICustomerService CustomerService


@if(Id is null)
{
    <PageTitle>Create a new customer </PageTitle>
    <h3>Create a new customer</h3>
}
else
{
    <PageTitle>Edit @customer.Firstname</PageTitle>
    <h3>Edit @customer.Firstname</h3>
}


<EditForm Model="customer" OnSubmit="HandleSubmit" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <lable for="firstname" >First Name</lable>
        <InputText id="firstname" @bind-Value="customer.Firstname" class="form-control"></InputText>
        <ValidationMessage For="@(() => customer.Firstname)"></ValidationMessage>
    </div>
    <div>
        <lable for="lastname">Last Name</lable>
        <InputText id="lasttname" @bind-Value="customer.Lastname" class="form-control"></InputText>
         <ValidationMessage For="@(() => customer.Lastname)"></ValidationMessage> 
    </div>
      <div>
        <lable for="dateOfBirth">Date Of Birth</lable>
        <InputDate id="dateOfBirth" @bind-Value="customer.DateOfBirth" class="form-control"></InputDate>
    </div>
    <div>
        <lable for="phoneNumber">Phone Number</lable>
        <InputText id="phoneNumber" @bind-Value="customer.PhoneNumber" class="form-control"></InputText>
    </div> 
    <div>
        <lable for="email">Email</lable>
        <InputText id="email" @bind-Value="customer.Email" class="form-control"></InputText>
        <ValidationMessage For="() => customer.Email" />
    </div>
    <div>
        <lable for="bankAccountNumber">BankAccountNumber</lable>
        <InputText id="bankAccountNumber" @bind-Value="customer.BankAccountNumber" class="form-control"></InputText>
    </div>


    <br/>
    <button type="submit" class="btn btn-primary">@btnText</button>
    <button type="button" class="btn btn-danger" @onclick="DeleteCustomer">Delete Customer</button>
</EditForm>

@code {
    [Parameter]
    public int? Id{ get; set; }
    string btnText = string.Empty;
    CustomerDto customer = new CustomerDto();

    protected override async Task OnInitializedAsync()
    {
        btnText = Id is null ? "Save Customer" : "Update Customer";
    }

    protected override async Task OnParametersSetAsync()
    {
        if(Id is not null)
        {
            customer = await CustomerService.GetCustomer((int)Id);
        }
    }

    async Task HandleSubmit()
    {
        if(Id is null)
        {
            await CustomerService.CreateCustomer(customer);
        }
        else
        {
            await CustomerService.UpdateCustomer(customer);
        }
    }

    async Task DeleteCustomer()
    {
        Console.WriteLine(customer.Id);
        await CustomerService.DeleteCustomer(customer.Id);
    }
}

